
.posts {
  width: 1000px;
  margin: 2em 0;
  padding: 2em 0;
  font-family: "Avenir Next" !important;
  text-align-last: justify;
}

// this is for outer stuff
.posts .post {
  margin: 5em 0;
}

.posts .post-content {
  margin: 5em 0;
  font-family: "Avenir Next" !important;
  // text-align-last: justify;
}

.posts .post:last-child {
  border-bottom: 20px;
  margin: 2em 0;
  font-family: "Avenir Next" !important;
  // text-align: justify;
}

.post-link .post-title {
  margin: 2em 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin: 2em 0;
  // text-align: left;
}

.post-footer .avatar {
  margin: 2em 0;
  width: auto;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 2em 0;
  color: #7a7a7a;
  font-style: italic;
  font-family: "Avenir Next" !important;
  // text-align: justify;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
