
.posts {
  margin: 20px;
}

.posts .post {
  margin-bottom: 20px;
  border-bottom: thin solid #f3f3f3;
  text-align: justify;
}

.posts .post:last-child {
  border-bottom: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.post-link .post-title {
  margin-top: 20px;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin-top: 20px;
  text-align: left;
}

.post-footer .avatar {
  margin: 20px;
  width: 100px;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 20px;
  color: #7a7a7a;
  font-style: italic;
  text-align: left;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
